#article {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

img.article-image {
    width: 750px !important;
}

p#article-date {
    color: #333;
    font-weight: 300;
}