@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: #eeeeee;
}

header {
    top: 0 !important;
    padding: 20px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(20px);
}

footer {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
}

h1 {
    padding: 0;
    margin: 0;
}

h1.title {
    font-size: 2.2em;
    font-weight: bold;
}

h2.subtitle {
    font-size: 1.3em;
    font-weight: 500;
}

#title-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 15px 30px;
    background: #333;
    color: white;
    font-weight: 500;
    border-radius: 7px;
    transition: all .4s;
    text-decoration: none;
}

.button:hover {
    background-color: #444;
    transition: all .4s;
}

section#articles {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.article-item {
    width: 325px;
    background: #e2e2e2;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}

.article-item:hover {
    -webkit-box-shadow: 0px 0px 20px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -11px rgba(0,0,0,0.75);
    transition: all .3s;
}

.article-item:hover a.article-link {
    text-decoration: underline;
}

a.article-link {
    text-decoration: none;
}

.article-text-content {
    margin: 12px;
}

.article-preview {
    color: gray;
}

img.article-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
}